{% extends 'aplicacion/base.html' %}


{% load static %}
{% block content %}



<!-- <script src="{% static 'aplicacion/js/validacionContacto.js' %}"></script> -->
<link rel="stylesheet" href="{% static 'aplicacion/css/iniciarSesion.css' %}">
<link rel="stylesheet" href="{% static 'aplicacion/css/contacto.css' %}">
<!-- {% comment %} <link rel="stylesheet" href="{% static 'aplicacion/js/validacionContacto.js' %}"> {% endcomment %} -->
<div class="resto02">
</div>
      <div class="cuadrado">  
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST" action="" id="frmInicioSesion">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="correo">Correo:</label>
                            <input type="email" class="form-control" id="correo" name="correo">
                        </div>
                        <div class="form-group">
                            <label for="contrasena">Contraseña:</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena">
                        </div>
                        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
                        <a href="{% url 'crearCuenta' %}">Crear Cuenta</a>
                        <br><br><br>
                    </form>
                </div>
            </div>
        </div>

      </div>
      <div class="resto">

      </div>



      <script>
        $(document).ready(function(){

            jQuery.validator.addMethod("correoValido", function(value, element) {
                return this.optional(element) || /^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.(com|cl)$/i.test(value);
            }, "Ingrese un correo electrónico válido");
            
            $("#frmInicioSesion").validate({
                debug: true,
                errorClass: "errorMessage",
                rules:{
                    correo: {
                        required: true,
                        email: true,
                        correoValido: true
                    },
                    contrasena: {
                        required: true
                    }
                },
                messages: {
                    correo: {
                        required: "El campo correo electrónico no puede estar vacío.",
                        email: "Ingrese un correo electrónico válido.",
                        correoValido: "Ingrese un correo electrónico válido que termine en .com o .cl."
                    },
                    contrasena: {
                        required: "El campo contraseña no puede estar vacío."
                    }
                }
            });
            


        })


      </script>
{% endblock %}