
{% extends 'aplicacion/base.html' %}


{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'aplicacion/css/basic.css' %}">
<link rel="stylesheet" href="{% static 'aplicacion/css/spotify.css' %}">


<div class="container01">
    <div class="spotify-play">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/4vJnlfwneg1boY5ccffnKV?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    


  

 <div class="lista-work" >
  <h6>KREEN - MAR DE ANIMAS</h6>
  <ul>
      <li>Album</li>
      <li>Mixing/Master</li>
      <li>Producer</li>
      <li>2023</li>
  
    </ul>

 </div>

  




  </div>
  <div class="resto">
   
    
  </div>





{% endblock %}